node_modules
packages/mobileapp/node_modules
packages/web-app/node_modules
packages/smart-contract/cache
packages/smart-contract/artifacts
.yarn
packages/smart-contract/.env
packages/smart-contract/.env.local
packages/smart-contract/.env.testnet
packages/web-app/next-env.d.ts

//interface Window {
    ethereum: any
}